<footer class="footer">
  <small>
    <a href="http://codesterkemp.blogspot.com">Job Machine App</a>
    by Josh & Cody Kemp
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://codesterkemp.blogspot.com">News about Cody</a></li>
    </ul>
  </nav>
</footer>
